@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  height: 100vh;
}

/* a{
  display: block;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  color: white;
  cursor: pointer;
} */

a > button.botao-acesso{
  border-radius: 3px;
  background-color: darkred;
  margin-top: -2px auto 2px auto;
  padding: 20px;
  width: 100%;
  height: 20px;
  text-align: center;
}

a button:hover {
  background-color: red;
  color: white;
  width: 100%;
  position: relative;
  justify-content: center;
}
